// Note: the following css is input into tailwindcss and will end up in style.css when the site is built (i.e. it'll be in ./public)

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tiempo Headline Light";
  src: url("TiemposHeadline-Light.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "Academy Engraved LET";
  src: url("Academy_Engraved_LET.ttf") format("ttf");
  font-display: swap;
}