<form action="/waitlist/" method='post'>
  <div class="flex gap-2">
    {# Email #}
    <input type="email" name="email" placeholder="e.g. 'steve@apple.com'" required
      class="w-full px-2 py-2 md:px-4 rounded-lg border-2 border-solid border-[#020D2B] bg-blue-100 text-black placeholder:text-gray-500" />

    {# Send button #}
    <input type='submit' value='Send' class="
      px-4 py-2
      border-2 border-[#020D2B] rounded-lg
      focus:outline-none
      focus:border-0
      hover:cursor-pointer hover:bg-gray-800/50" />
  </div>
</form>