{% import "macros/util.html" as util %}

{% set domain = util::cf_url_to_canonical() %}

{# Standard meta tags #}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{# These tags are for the previews that are generated when the website is shared, e.g. on iMessage, WhatsApp, twitter, etc... #}
<!-- Facebook/Whatsapp OG Tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ domain ~ current_path }}">
<meta property="og:title" content="{{ section.title }}">
<meta property="og:description" content="{{ section.description }}">
{% block meta_social_media_preview_img %} {# Note: Override this block if you need to #}
<meta property="og:image" content="{{ domain ~ '/bottle_banner.jpg'}}">{# png/jpg < 300KB #}
{% endblock meta_social_media_preview_img %}
<meta property="og:image:width" content="1170"> {# minimum dimensions of 300 x 200  #}
<meta property="og:image:height" content="586">
<meta property="og:locale" content="en_US">

<!-- Twitter OG Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="r3ply.com">
<meta property="twitter:url" content="{{ domain ~ current_path }}">
<meta name="twitter:title" content="{{ section.title }}">
<meta name="twitter:description" content="{{ section.description }}">
{% block twitter_social_media_preview_img %} {# Note: Override this block if you need to #}
<meta property="og:image" content="{{ domain ~ '/bottle_banner.webp'}}"> {# Note: < 300KB #}
{% endblock twitter_social_media_preview_img %}

<!--  Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=4">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=4">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=4">
<link rel="manifest" href="/site.webmanifest?v=4">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=4" color="#111d3d">
<link rel="shortcut icon" href="/favicon.ico?v=4">
<meta name="apple-mobile-web-app-title" content="r3ply">
<meta name="application-name" content="r3ply">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">