<html lang="{{ lang }}">

<head>

  <!-- HTML Meta Tags -->
  <title>{{ section.title }}</title>
  <meta name="description" content="{{ section.description }}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {# Set iphone notch background #}
  <meta name="theme-color" content="#FDF2D4" />

  {# Main CSS styling goes here, which is output by Tailwind #}
  <link rel="stylesheet" type="text/css" href="/style.css">

  {# These tags are for the previews that are generated when the website is shared, e.g. on iMessage, WhatsApp, twitter, etc... #}
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ config.base_url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ section.title }}">
  <meta property=" og:description" content="{{ section.description }}">
  <meta property="og:image" content="/social_preview.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="zola-tailwind.spence.es">
  <meta property="twitter:url" content="{{ config.base_url }}">
  <meta name="twitter:title" content="{{ section.title }}">
  <meta name="twitter:description" content="{{ section.description }}">
  <meta name="twitter:image" content="/social_preview.jpg">

  <!--  Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5684FF">
  <meta name="msapplication-TileColor" content="#5684FF">

</head>

<body class="bg-[#FDF2D4] text-[#111D3D]">
  {# Basic content #}
  <main class="max-w-prose mx-auto">
    <header class="">
      <div class="mx-2 md:mx-0 flex items-center">
        <h1 class="text-3xl lg:text-5xl text-[#111D3D] font-playfair-display font-semibold">
          <a href="https://r3ply.com">r<span class=" font-academy-engraved font-normal">3</span>ply<span
              class=" font-academy-engraved font-normal">.</span>
          </a>
        </h1>
        <nav class="ml-auto">
          <ul class="flex overflow-clip gap-1 md:gap-4 list-none text-xs">
            <li><a class="hover:border-b border-red-400" href="#pitch">Pitch</a></li>
            <li class=" font-extralight">┆</li>
            <li><a class="hover:border-b border-red-400" href="#features">Features</a></li>
            <li class=" font-extralight">┆</li>
            <li><a class="hover:border-b border-red-400" href="#benefits">Benefits</a></li>
            <li class=" font-extralight">┆</li>
            <li><a class="hover:border-b border-red-400" href="#faq">FAQ</a></li>
          </ul>
        </nav>
      </div>
      <img class="w-full border-t md:border border-[#020D2B]" src="bottle-light_v.webp">
      {# <img class="hidden lg:inline w-full" src="bottle-light_h.webp" alt=""> #}
    </header>
    <article id="pitch" class="mt-8 mx-auto px-4 prose
    prose-headings:font-playfair-display
    prose-h2:text-[#FB7B87]
    prose-h3:text-blue-400
    text-[#1E2D57]
    leading-snug
    prose-img:rounded-xl prose-img:border prose-img:border-[#020D2B]
    ">
      {{ section.content | safe }}
    </article>
  </main>
  <footer class="mt-24 border-t border-[#020D2B]">
    <div class="px-4 py-2 flex items-center max-w-prose mx-auto">
      <h1 class="text-3xl lg:text-5xl text-[#111D3D] font-playfair-display font-semibold">
        <a href="https://r3ply.com">r<span class=" font-academy-engraved font-normal">3</span>ply<span
            class=" font-academy-engraved font-normal">.</span>
        </a>
      </h1>
      <nav class="ml-auto">
        <ul class="flex overflow-clip gap-1 md:gap-4 list-none text-xs">
          <li><a class="hover:border-b border-red-400" href="https://spenc.es/">About Me</a></li>
          <li class=" font-extralight">┆</li>
          <li><a class="hover:border-b border-red-400" href="https://spenc.es/">r3ply Demo</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>

</html>